NODE_ENV=development

# Base de données
DB_USER=helpdesk
DB_PASSWORD=helpdesk
DB_NAME=helpdesk

# API NestJS
DATABASE_URL=postgresql://helpdesk:helpdesk@localhost:5432/helpdesk
JWT_SECRET=un_secret_long_et_aleatoire_a_changer
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3001

# Frontend Next.js
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3001
NEXTAUTH_SECRET=un_autre_secret_long_et_aleatoire_a_changer
